#keys{
    display: grid;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}